extends layout

block content
    h3 My Notes
    div.my-3.p-3.bg-white.rounded.shadow-sm
      each article, i in articles
        div.media-body.pt-2.pb-2.border-bottom.border-gray
          h5
            a(href="/note/"+article.id)= article.title
          p= article.body
    h3 Add New Note
    div.my-3.p-3.bg-white.rounded.shadow-sm
      form(method='POST', action='/add')
        #form-group
          label Title:
          input.form-control(name='title', type='text')
        #form-group
          label Body:
          input.form-control(name='body', type='text')
        br
        input.btn.btn-primary(type='submit',value='Submit')
