extends layout

block content
  h3= article.title
  p= article.body
  div
    a.btn.btn-primary.mr-3(href='/note/edit/'+article.id) Edit
    a.btn.btn-primary.delete-note(href='#', data-id=article.id) Delete
